.contact {
  .contact-form-container {
    background-color: #6e00ff;
    color: white;
    font-weight: bold;
    padding: 8% 12% 8% 12%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-form {
      width: 100%;
      max-width: 650px;
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
      }

      input {
        margin-bottom: 15px;
      }

      input {
        height: 2.5em;
      }
      textarea {
        height: 15em;
        resize: none;
        margin-bottom: 20px;
      }

      .form-button {
        align-self: flex-end;
        color: white;
        background-color: #ff64cb;
        font-weight: bold;
        font-size: 0.85em;
        border: none;
        height: 3em;
        width: 10em;
        margin-top: 0.5em;
        margin-bottom: 0px;
      }
    }
  }
}
