footer {
    background-color: #6700ee;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .footer-hero-design {
      display: none;
    }
  
    .footer-nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2em 0 2em;
      width: 100%;
      height: 100%;
  
      .footer-logo {
        color: #72e6ff;
        font-weight: bold;
      }
  
      ul {
        display: flex;
  
        a {
          color: white;
          display: block;
          padding: 0 1em;
        }
      }
    }
  }