.hero {
  background-color: #6e00ff;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 250px;
  font-weight: bold;
  color: #ff64cb;
  align-items: center;
  justify-content: center;
  img {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
  }
}

.scroll {
  width: 40px;
  margin-top: 2em;
}
